/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";

}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}


.md-menu-bar-menu.md-dense.md-default-theme > md-menu-item button{
    color : black;
}

md-toolbar{
    min-height: 50px;
}

md-menu-bar md-menu.md-open > button, md-menu-bar md-menu > button:focus{
    color: black;
}
.md-menu > button{
    color:white;
}
body{
    background: #F5F5F5;
}
.app-content{
    /*margin: 5% ;*/
    /*/!*min-height: 600px;*!/*/
    /*background: #ffffff;*/
    padding: 10px;
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}
.product-image{
    width:150px;
    height:150px;
    border-right: 1px solid #eee;
    padding: 10px;
    margin-right: 20px;
    box-shadow: 0 2px 5px 0 #eee;
}
.div-size{
    width:120px;
    height:120px;
}
.container-box{
    box-shadow: 0 2px 5px 0 ;
    position: relative;
}
tbody {
    display:block;
    height:300px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
md-input-container {
    margin-left: 10px;
}
.remove{
    /*background: #C76868;*/
    /*color: #FFF;*/
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    /*display: inline-block;*/
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;
}
.product_image{
    width: 100px;
    height:100px;
}
.md-button{
    text-transform: none;
}
.actions-image {
    width:25px;
    height:25px;
}
.md-progress-circular{
    position: absolute;
}

.form-validation  .ng-invalid.ng-pristine {
    border-color: red;
}
.form-validation  .ng-invalid.ng-dirty {
    border-color: red;
}
.md-toast.error {
    background-color: red;
}

.md-toast.success {
    background-color: green;
}


.md-checkbox {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 24px;
    position: relative;
}
.md-checkbox label {
    cursor: pointer;
    font-weight: normal;
    padding-left: 30px;
}
.md-checkbox input[type="checkbox"] {
    opacity: 0;
    filter: alpha(opacity=0);
    margin-left: -30px;
    position: absolute;
}
.md-checkbox input[type="checkbox"] + .checkbox {
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    content: " ";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    visibility: visible;
    width: 20px;
    -webkit-animation: checkbox-bg-off 0.25s;
    -o-animation: checkbox-bg-off 0.25s;
    animation: checkbox-bg-off 0.25s;
}
.md-checkbox input[type="checkbox"] + .checkbox:after {
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 2px 2px;
    content: " ";
    cursor: pointer;
    height: 8px;
    left: 50%;
    margin-left: -7px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 14px;
    -webkit-animation: checkbox-marker-off 0.2s;
    -o-animation: checkbox-marker-off 0.2s;
    animation: checkbox-marker-off 0.2s;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.md-checkbox input[type="checkbox"] + .checkbox:before {
    border-radius: 50%;
    content: " ";
    height: 2px;
    left: 50%;
    margin-left: -1px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: all .1s;
    width: 2px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.md-checkbox input[type="checkbox"]:disabled + .checkbox {
    cursor: not-allowed;
}
.md-checkbox input[type="checkbox"]:focus + .checkbox:before {
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    opacity: 0.08;
    filter: alpha(opacity=8);
}
.md-checkbox input[type="checkbox"]:checked + .checkbox {
    -webkit-animation: checkbox-bg-on 0.1s;
    -o-animation: checkbox-bg-on 0.1s;
    animation: checkbox-bg-on 0.1s;
    border-width: 10px;
}
.md-checkbox input[type="checkbox"]:checked + .checkbox:after {
    -webkit-animation: checkbox-marker-on 0.15s;
    -o-animation: checkbox-marker-on 0.15s;
    animation: checkbox-marker-on 0.15s;
}
.md-checkbox input[type="checkbox"]:checked:focus + .checkbox:before {
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.md-checkbox + .checkbox {
    margin-top: -5px;
}

.md-checkbox input[type="checkbox"] + .checkbox {
    border-color: black;
}
.md-checkbox input[type="checkbox"] + .checkbox:before {
    background-color: black;
}
.md-checkbox input[type="checkbox"]:checked + .checkbox:hover {
    border-color: #4caf50;
}
.md-checkbox input[type="checkbox"]:checked + .checkbox:after {
    border-color: white;
}
.md-checkbox input[type="checkbox"]:disabled + .checkbox, .md-checkbox input[type="checkbox"]:disabled + .checkbox:hover {
    border-color: #999999;
}
.md-checkbox input[type="checkbox"]:checked:focus + .checkbox {
    border-color: #4caf50;
}
.md-checkbox input[type="checkbox"]:checked:focus + .checkbox:before {
    background-color: #4db16a;
}

.md-checkbox-inverse input[type="checkbox"] + .checkbox {
    border-color: white;
}
.md-checkbox-inverse input[type="checkbox"] + .checkbox:before {
    background-color: white;
}
.md-checkbox-inverse input[type="checkbox"]:checked + .checkbox:hover {
    border-color: #4caf50;
}
.md-checkbox-inverse input[type="checkbox"]:checked + .checkbox:after {
    border-color: #333333;
}
.md-checkbox-inverse input[type="checkbox"]:disabled + .checkbox, .md-checkbox-inverse input[type="checkbox"]:disabled + .checkbox:hover {
    border-color: #666666;
}
.md-checkbox-inverse input[type="checkbox"]:checked:focus + .checkbox {
    border-color: #4caf50;
}
.md-checkbox-inverse input[type="checkbox"]:checked:focus + .checkbox:before {
    background-color: #4cb069;
}
.even{
    background-color:#29b6f6;box-shadow: 10px 10px 5px #888888;margin-top: 2px;
}
.odd{
    background-color:#2aabd2;box-shadow: 10px 10px 5px #888888;margin-top: 2px;

}

/*Hiding Spinners for number input field*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
thead {
    background-color: whitesmoke;
    width: calc( 100% - 0em );
}
#image-container{
 padding: 10px;
    height: 300px;
    overflow: auto;
}
.app-content .container-box{
    width: 100%;
    margin: 5px;
    padding: 10px;
}
.form-row{
    margin-bottom:5px;
}
/*section{*/
    /*width: 100%;*/
/*}*/
.selectdemoSelectHeader {
    /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
.selectdemoSelectHeader md-content._md {
    max-height: 240px; }