<div>
    <h2>{{category.name}}</h2>

    <form name="myform" class="form-validation">
        <div layout="row">
            <md-input-container class="md-block" flex="20">
                <label>Name</label><input aria-label="name" ng-required="required" ng-model="product.name">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex="20">
                <label>Price</label><input aria-label="price" ng-required="required" ng-model="product.price">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex="20">
                <label>Offer</label><input aria-label="offer" ng-model="product.offer">
            </md-input-container>
        </div>
        <div layout="row">
            <div layout="column">
                <div id="image-container">
                </div>
            </div>
        </div>
        <div layout="row">
            <button ng-model="image" multiple="true" ngf-select="uploadImage($files)" class="btn btn-success btn-sm">
                select Image
            </button>
        </div>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-click="addDescription()">Add
                Description
            </md-button>
        </div>
        <div>


            <div layout="row" ng-repeat="label in product.description">
                <label>Label</label>
                <md-input-container class="md-block" flex="20">
                    <input aria-label="label" id="{{'desc_' + $index + '_label'}}" ng-required="required"
                           ng-model="product.description[$index].label">
                </md-input-container>
                <div style="margin-left: 200px;">
                    <label>Value</label>
                    <md-input-container class="md-block" flex="20">
                        <input aria-label="value" id="{{'desc_' + $index + '_value'}}" ng-required="required"
                               ng-model="product.description[$index].value">
                    </md-input-container>
                </div>
                <!--<button class="remove" ng-click="removeChoice(label.id)">--><img class="actions-image"
                                                                                     ng-click="removeChoice($event,$index)"
                                                                                     src="images/deleteImage.png"><!-- -</button>-->
            </div>
            <!--<pre>{{product|json}}</pre>-->


        </div>
        <md-button class="md-raised md-primary" ng-disabled="myform.$invalid " ng-click="submit()">Submit</md-button>
        <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>

    </form>


</div>