<div>
    <h2>{{category.name}}</h2>

    <form>
        <div aria-readonly="true" layout="row-md-12">
            <div class="col-sm-4 container-box">
                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Name</label>
                    <md-input-container class="col-sm-8">
                        <input readonly aria-label="name" ng-model="product.name">
                    </md-input-container>
                </div>
                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Price</label>
                    <md-input-container class="col-sm-8">
                        <input aria-label="price" ng-model="product.price" readonly>
                    </md-input-container>
                </div>
                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Offer</label>
                    <md-input-container  class="col-sm-8">
                        <input aria-label="offer" ng-model="product.offer" readonly>
                    </md-input-container>
                </div>
                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Brand</label>
                    <md-input-container  class="col-sm-8">
                        <input aria-label="brand" ng-model="product.brand" readonly>
                    </md-input-container>
                </div>
                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Types</label>
                    <md-input-container class="col-sm-8">
                        <md-select aria-label="type" ng-model="product.productCategoryType"
                                   md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader"
                                   multiple aria-readonly="true">
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm"
                                       type="search"
                                       placeholder="Search for a type.."
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="types">
                                <md-option ng-value="item.id" ng-repeat="item in product.categoryTypes |
              filter:searchTerm">{{item.type}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>

                <div class="form-row">
                    <label style="padding: 12px;"><u>Stock Information:</u> </label>

                    <div layout="row">
                        <md-checkbox
                                ng-model="stock"
                                aria-label="Checkbox 1"
                                ng-change="showStock()"
                                class="md-primary md-align-top-left">
                            Stock
                        </md-checkbox>
                        <div ng-hide="!stock" layout="row">
                            <md-input-container class="md-block">
                                <input type="number" ng-disabled="!stock" aria-label="input_$index"
                                       ng-model="product.stockData[0].stock">
                            </md-input-container>
                            <md-button multiple="true" ngf-select="uploadImage(0,$files)" class="md-raised md-primary">
                                select Image
                            </md-button>

                        </div>

                    </div>
                    <div layout="row">
                        <md-checkbox
                                ng-model="colorStock"
                                aria-label="Checkbox 2"
                                ng-change="showColorStock()"
                                class="md-primary md-align-top-left">
                            Color
                        </md-checkbox>
                        <md-checkbox
                                ng-model="sizeStock"
                                aria-label="Checkbox 3"
                                ng-change="showSizeStock()"
                                class="md-primary md-align-top-left">
                            Size
                        </md-checkbox>
                    </div>
                </div>
                <!--  <div class="form-row">
                      <label class="col-sm-3">Ideal For</label>
                      <md-checkbox class="col-sm-1"
                              ng-model="men"
                              aria-label="Checkbox 2"
                              ng-change="changeMen()"
                              class="md-primary md-align-top-left">
                          Men
                      </md-checkbox>
                      <md-checkbox class="col-sm-2"
                              ng-model="women"
                              aria-label="Checkbox 3"
                              ng-change="changeWomen()"
                              class="md-primary md-align-top-left">
                          Women
                      </md-checkbox>
                      <md-checkbox class="col-sm-1"
                              ng-model="kids"
                              aria-label="Checkbox 3"
                              ng-change="changeKids()"
                              class="md-primary md-align-top-left">
                          Kids
                      </md-checkbox>
                      <md-checkbox class="col-sm-1"
                              ng-model="other"
                              aria-label="Checkbox 3"
                              ng-change="changeOther()"
                              class="md-primary md-align-top-left">
                          Other
                      </md-checkbox>
                  </div>-->
                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Gender</label>
                    <md-input-container class="col-sm-8">
                        <md-select aria-label="gender" ng-model="product.selectedGender"
                                   md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader"
                                   multiple>
                            <md-autocomplete style="width: auto"
                                             md-search-text="searchText"
                                             md-items="item in categoryTypes(searchText)"
                                             md-item-text="item.name"
                                             md-selected-item="item.name"
                                             md-search-text-change="selectedTextChanged(searchText)"
                                             md-autoselect="true"
                                             md-select-on-match="true"
                                             md-no-cache="true"
                                             md-require-match="true"
                                             placeholder="Find a gender..">
                                <span md-highlight-text="searchText">{{item.name}}</span>
                            </md-autocomplete>
                            <md-optgroup label="gender">
                                <md-option ng-value="item.id" ng-repeat="item in product.gender |
              filter:productFilter">{{item.value}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
            </div>


            <div class="container-box col-md-8" layout="column" layout-sm="row">
                <div class="col-sm-12">
                    <label>Description</label>
                </div>
                <div class="col-sm-12">
                    <table class="table-striped">
                        <thead>
                        <th class="col-sm-2">
                            <img style="margin-top: 5px;padding:2px;" class="actions-image"
                                 ng-click="addDescription()"
                                 src="images/1471343913_InterfaceExpendet-05.png">
                            <img class="actions-image"
                                 ng-click="removeAllDesc($event)"
                                 src="images/delete.png">
                        </th>
                        <th class="col-sm-4">Label</th>
                        <th class="col-sm-4">Value</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="label in product.description">
                            <td class="col-sm-1">
                                <img class="actions-image"
                                     ng-click="removeChoice($event,$index)"
                                     src="images/delete.png">
                            </td>
                            <td class="col-sm-4">
                                <md-input-container>
                                    <input type="text" aria-label="label" id="{{'desc_' + $index + '_label'}}"
                                           ng-model="product.description[$index].label" ng-required="required">
                                </md-input-container>
                            </td>
                            <td class="col-sm-4">
                                <md-input-container>
                                    <input type="text" aria-label="value" id="{{'desc_' + $index + '_value'}}"
                                           ng-model="product.description[$index].value" ng-required="required">
                                </md-input-container>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        <div layout="row-md-12">
            <div class="container-box col-md-6" layout="column" layout-sm="row" ng-show="colorStock || sizeStock">
                <table id="colorTable" ng-hide="(!colorStock) || (colorStock && sizeStock)" class="table-striped">
                    <div ng-hide="(!colorStock) || (colorStock && sizeStock)" class="col-sm-12"><label>Colors</label>
                    </div>
                    <thead ng-show="colorStock">
                    <th class="col-sm-2"><img style="margin-top: 5px;padding:2px;" class="actions-image"
                                              ng-click="showColorStock()"
                                              ng-hide="!colorStock"
                                              src="images/1471343913_InterfaceExpendet-05.png">
                        <img class="actions-image"
                             ng-click="removeAllColor($event)"
                             src="images/delete.png">
                    </th>
                    <th class="col-sm-4">Color</th>
                    <th class="col-sm-3">Stock Value</th>
                    <th class="col-sm-2">Images</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="color in product.stockData">
                        <td class="col-sm-1">
                            <img class="actions-image"
                                 ng-click="removeColor($event,color.stockId,1)"
                                 src="images/delete.png">
                        </td>
                        <td class="col-sm-4">
                            <div>
                                <input class="col-sm-1" style="margin-top: 15px;" type="radio"
                                       name="radioColor-{{$index}}"
                                       ng-model="product.defaultStockIndex" value="{{$index}}"
                                       ng-change="changeRadio($index)">

                                <md-input-container layout="col-sm-2">
                                    <input aria-label="color" id="{{'color_' + $index }}" ng-required="required"
                                           ng-model="product.stockData[$index].color">
                                </md-input-container>
                            </div>
                        </td>
                        <td class="col-sm-3">
                            <md-input-container class="md-block">
                                <input type="number" aria-label="value" id="{{'color_' + $index + '_stock'}}"
                                       ng-required="required"
                                       ng-model="product.stockData[$index].stock">
                            </md-input-container>
                        </td>
                        <td class="col-sm-2">
                            <md-button multiple="true" ngf-select="uploadImage($index,$files)"
                                       class="md-raised md-primary">
                                select Image
                            </md-button>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <table id="sizeTable" ng-hide="(!sizeStock) || (sizeStock && colorStock)" class="table-striped">
                    <thead ng-show="sizeStock">
                    <div ng-hide="(!sizeStock) || (sizeStock && colorStock)" class="col-sm-12"><label>Size</label></div>

                    <th class="col-sm-2"><img style="margin-top: 5px;padding:2px;" class="actions-image"
                                              ng-click="showSizeStock()"
                                              ng-hide="!sizeStock"
                                              src="images/1471343913_InterfaceExpendet-05.png">
                        <img class="actions-image"
                             ng-click="removeAllSize($event)"
                             src="images/delete.png">
                    </th>
                    <th class="col-sm-4">Size</th>
                    <th class="col-sm-3">Stock Value</th>
                    <th class="col-sm-2">Images</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="size in product.stockData">
                        <td class="col-sm-1">
                            <img class="actions-image"
                                 ng-click="removeSize($event,1)"
                                 src="images/delete.png">
                        </td>
                        <td class="col-sm-4">
                            <div>
                                <input class="col-sm-1" style="margin-top: 15px;" type="radio"
                                       name="radioSize-{{$index}}"
                                       ng-model="product.defaultStockIndex" value="{{$index}}"
                                       ng-change="changeRadio($index)">
                                <md-input-container>
                                    <input aria-label="color" id="{{'size' + $index + ''}}" ng-required="required"
                                           ng-model="product.stockData[$index].size">
                                </md-input-container>
                            </div>
                        </td>
                        <td class="col-sm-3">
                            <md-input-container class="md-block">
                                <input type="number" aria-label="value" id="{{'size' + $index + '_stock'}}"
                                       ng-required="required"
                                       ng-model="product.stockData[$index].stock">
                            </md-input-container>
                        </td>
                        <td class="col-sm-2">
                            <md-button multiple="true" ngf-select="uploadImage($index,$files)"
                                       class="md-raised md-primary">
                                select Image
                            </md-button>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <table id="colorSizeTable" ng-show="colorStock && sizeStock" class="table-striped">
                    <thead>
                    <div ng-show="colorStock && sizeStock" class="col-sm-12"><label>Colors And Sizes</label></div>

                    <th class="col-sm-2"><img style="margin-top: 5px;padding:2px;" class="actions-image"
                                              ng-click="showColorSizeStock()"
                                              ng-show="colorStock && sizeStock"
                                              src="images/1471343913_InterfaceExpendet-05.png">
                        <img class="actions-image"
                             ng-click="removeAllColorSize($event)"
                             src="images/delete.png">
                    </th>
                    <th class="col-sm-4">Color</th>
                    <th class="col-sm-2">Size</th>
                    <th class="col-sm-2">Stock Value</th>
                    <th class="col-sm-2">Images</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="size in product.stockData">
                        <td class="col-sm-1">
                            <img class="actions-image"
                                 ng-click="removeColorSize($event,1)"
                                 src="images/delete.png">
                        </td>
                        <td class="col-sm-4">
                            <div>
                                <input class="col-sm-1" style="margin-top: 15px;" type="radio"
                                       name="radioColorSize-{{$index}}"
                                       ng-model="product.defaultStockIndex" value="{{$index}}"
                                       ng-change="changeRadio($index)">
                                <md-input-container>
                                    <input aria-label="color" id="{{'colorSize' + $index + '_color'}}"
                                           ng-required="required"
                                           ng-model="product.stockData[$index].color">
                                </md-input-container>
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <md-input-container class="md-block">
                                <input aria-label="size" id="{{'colorSize' + $index + '_size'}}"
                                       ng-required="required"
                                       ng-model="product.stockData[$index].size">
                            </md-input-container>
                        </td>
                        <td class="col-sm-2">
                            <md-input-container class="md-block">
                                <input type="number" aria-label="value" id="{{'colorSize' + $index + '_stock'}}"
                                       ng-required="required"
                                       ng-model="product.stockData[$index].stock">
                            </md-input-container>
                        </td>
                        <td class="col-sm-2">
                            <md-button multiple="true" ngf-select="uploadImage($index,$files)"
                                       class="md-raised md-primary">
                                select Image
                            </md-button>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-sm-6 container-box">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row-sm-12">
                            <label>Images</label>

                            <div class="row-sm-6 " id="image-container" image-container>
                                <div class=" row col-sm-12" id="stock-image-wrapper"
                                     ng-repeat="(stockIndex,stock) in product.stockData">

                                    <!--<div ng-show="uploadedImages.length" class="row col-sm-3"
                                         ng-repeat="(imageIndex,img) in stock.images">
                                        <img class="product-image" src="{{img.url}}">
                                        <input type="radio" name="imageRow-{{stockIndex}}"
                                               ng-model="product.stockData[stockIndex].defaultImageIndex"
                                               value="{{imageIndex}}" ng-change="changeImage(stockIndex)">
                                    </div>-->

                                    <div class="row col-sm-3"
                                         ng-repeat="(imageIndex,image) in stock.images" class="row-sm-4">
                                        <label>{{stock.color||stock.size}}</label>
                                        <image class="product_image"
                                               ng-src="{{image.url}}"
                                               title="{{image.title}}"></image>
                                        <input type="radio" name="imageRow-{{stockIndex}}"
                                               ng-model="product.stockData[stockIndex].defaultImageIndex"
                                               value="{{imageIndex}}" ng-change="changeImage(stockIndex)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row-col-sm-6">
            <md-button class="md-raised md-primary" ng-click="submit()">Submit</md-button>
            <md-button class="md-raised md-primary" ng-click="cancel(category.id)">Cancel</md-button>

        </div>


    </form>
    <pre>{{product|json}}</pre>
</div>


