<h3>All Users</h3>
<div  layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular  md-mode="indeterminate" ng-show="isLoading || sendingMail"
                           ></md-progress-circular>
</div>


<table ng-hide="sendingMail" class="table table-hover" width="100%">
    <thead>
    <tr>
        <th><div>

            <md-checkbox
                    ng-model="checkAll"
                    aria-label="Checkbox 1"
                    ng-change="addAllMail()"
                    class="md-primary md-align-top-left">
                Name
            </md-checkbox>
        </div>
        </th>
        <th>Email</th>
        <th>Contact</th>
        <th ng-click="sendMailAll($event)">Mail to All</th>
    </tr>
    </thead>


    <tbody>
    <tr ng-repeat="user in users">
        <td>
            <md-checkbox
                    ng-model="row.selected[$index]"
                    aria-label="Checkbox 1"
                    ng-change="addMail($index)"
                    class="md-primary md-align-top-left">
                {{user.name}}
            </md-checkbox>
        </td>
        <td >{{user.email}}</td>
        <td>{{user.contact}}</td>
        <td>
            <img class="actions-image" ng-click="sendMail($event,user.email)" src="images/1470831244_telegram.png">

        </td>
    </tr>
    </tbody>
</table>
{{users | json}}


