<h3>All Categories</h3>

<div>
    <md-autocomplete style="width: auto"
                     md-search-text="searchText"
                     md-items="item in queryGroups(searchText)"
                     md-item-text="item.name"
                     md-search-text-change="selectedTextChanged(searchText)"
                     md-selected-item="item"
                     md-autoselect="true"
                     md-select-on-match="true"
                     md-no-cache="true"
                     md-require-match="true"
                     md-min-length="1"
                     placeholder="Find a Category..">
        <span md-highlight-text="searchText">{{item.name}}</span>
    </md-autocomplete>


</div>
<div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
</div>
<table class="table table-hover" width="100%">
    <thead>
    <tr>

        <th> Name</th>
        <th>Offer</th>
        <th>Types</th>
        <th></th>
    </tr>
    </thead>


    <tbody>
    <tr ng-repeat="category in categories| filter:categoryFilter | orderBy:'-id'">

        <td ng-click="viewCategory(category)">{{category.name}}</td>
        <td>{{category.offer}}</td>
        <td>
            <div ng-repeat="item in product.categoryTypes">
                <label>{{item.type}}</label>:<label>{{item.value}}</label>
            </div>
        </td>
        <td>
            <img class="actions-image delete" ng-click="editCategory(category.id)" src="images/1470828558_icon-136-document-edit.png">
            <img class="actions-image edit" ng-click="deleteCategory($event,category.id)" src="images/delete.png">

        </td>

    </tr>
    </tbody>
</table>