<div>
    <h3 ng-show="complete">{{category.name}}</h3>

    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
    </div>

    <form name="myform" class="form-validation">
        <div layout="row-md-12">
            <div class="col-sm-4 container-box">
                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Name</label>
                    <md-input-container class="col-sm-5">
                        <input ng-model="category.name" ng-required="true">
                    </md-input-container>
                </div>

                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Offer</label>
                    <md-input-container class="col-sm-5">
                        <input ng-model="category.offer">
                    </md-input-container>
                </div>
                <div class="form-row" layout="row-sm-12">
                    <md-button multiple="true" ngf-select="uploadImage($files)" ng-required="true"
                               class="md-raised md-primary">select Image
                    </md-button>
                </div>
                <div class="row-sm-12 " id="image-container">
                    <div class=" row col-sm-3" id="stock-image-wrapper"
                         ng-repeat="(imageIndex,image) in category.images">
                        <image class="product_image"
                               ng-src="{{image.url}}"
                               title="{{image.title}}"></image>
                        <input type="radio" name="imageRow-{{imageIndex}}"
                               ng-model="category.defaultImageIndex"
                               value="{{imageIndex}}" ng-change="changeImage(imageIndex)">
                    </div>
                </div>
                <div class="form-row">
                    <md-button class="md-raised md-primary" ng-disabled="myform.$invalid " ng-click="submit()">Submit
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>

                </div>
            </div>
            <div class="container-box col-md-8" layout="column" layout-sm="row">
                <div class="col-sm-12">
                    <label>Category_Type</label>
                </div>
                <div class="col-sm-12">
                    <table class="table-striped">
                        <thead>
                        <th class="col-sm-2">
                            <img style="margin-top: 5px;padding:2px;" class="actions-image"
                                 ng-click="addTypes()"
                                 src="images/1471343913_InterfaceExpendet-05.png">
                            <img class="actions-image"
                                 ng-click="removeAllTypes($event)"
                                 src="images/delete.png">
                        </th>
                        <th class="col-sm-4">Type</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="type in category.types">
                            <td class="col-sm-1">
                                <img class="actions-image"
                                     ng-click="removeType($event,$index)"
                                     src="images/delete.png">
                            </td>
                            <td class="col-sm-4">
                                <md-input-container>
                                    <input type="text" aria-label="label" id="{{'types_' + $index + '_type'}}"
                                           ng-model="category.types[$index].type" ng-required="true">
                                </md-input-container>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </form>
</div>


