<div>
    <h3 ng-show="complete">{{category.name}}</h3>
    <form name="myform" class="form-validation">
        <div layout="row"><label>Name</label>
            <md-input-container class="md-block" flex="20">
                <input aria-label="name" ng-required="true" ng-model="category.name" ng-blur="showTitle()">
            </md-input-container>
        </div>

        <div layout="row"><label>Offer</label>
            <md-input-container class="md-block" flex-gt-sm="20">
                <input aria-label="offer" ng-model="category.offer">
            </md-input-container>
        </div>

        <div ng-hide="cancelDiv" layout="row">
            <div layout="column">
                <div id="image-container">
                    <image ng-hide="uploadedImages.length" ng-repeat="image in category.images" class="product-image" ng-src="{{image.url}}" title="{{image.title}}"></image>
                </div>
            </div>
            </div>
        <!--<div layout="row" ng-repeat="image in category.images">
            <image class="product-image" ng-src="{{image.url}}" title="{{image.title}}"></image>

        </div>-->


        <div layout="row">
            <button ng-model="image" multiple="true" ngf-select="uploadImage($files)"
                    class="btn btn-success btn-sm">select Image
            </button>
        </div>

        <br>


        <div>
            <md-button class="md-raised md-primary" ng-disabled="myform.$invalid " ng-click="submit()" ng-disabled="myform.$invalid ">Save</md-button>
            <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>

        </div>

    </form>
</div>


