<div>
    <h3 ng-show="complete">{{home.heading}}</h3>

    <form name="myform" class="form-validation">
        <div layout="row-md-12">
            <div class="col-sm-12 container-box">

                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3 ">Heading</label>
                    <md-input-container class="col-sm-5 ">
                        <input aria-label="heading" ng-model="home.heading">
                    </md-input-container>
                </div>

                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Title</label>
                    <md-input-container class="col-sm-5 ">
                        <input aria-label="title" ng-model="home.title">
                    </md-input-container>
                </div>

                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Select a type to Tag</label>

                    <div class="col-sm-8">
                        <input type="radio" name="selectedName"
                               ng-model="home.selectedName" aria-label="selected"
                               value="categoryName" ng-change="showItems(home.selectedName)"><label>Category</label>
                        <!--<input type="radio" name="selectedName"
                               ng-model="home.selectedName"
                               value="categoryType" ng-change="showItems(home.selectedName)"><label>CategoryType</label>
                        <input type="radio" name="selectedName"
                               ng-model="home.selectedName"
                               value="productName" ng-change="showItems(home.selectedName)"><label>Product</label>
                        --><input type="radio" name="selectedName"
                               ng-model="home.selectedName"
                               value="brand" ng-change="showItems(home.selectedName)"><label>Brand</label>
                       <!-- <input type="radio" name="selectedName"
                               ng-model="home.selectedName"
                               value="gender" ng-change="showItems(home.selectedName)"><label>Gender</label>
                   --> </div>
                </div>


                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Tag</label>
                    <md-select aria-label="tag" class="form-row col-sm-3"
                               ng-model="home.tag" ng-show="home.selectedName" ng-blur="selectCategoryType()">
                        <md-option ng-repeat="item in home.data" ng-value="item.id">{{item.name}}</md-option>
                    </md-select>

                </div>


                <div ng-show="home.selectedName=='categoryName'" class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">CategoryTypes</label>
                    <md-input-container class="col-sm-3">
                        <md-select aria-label="categorytype" ng-model="home.selectedCategoryType"
                                   md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader"
                                   multiple>
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm"
                                       type="search"
                                       placeholder="Search for a type.."
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="types">
                                <md-option  ng-value="item.id" ng-repeat="item in home.categoryType |
              filter:searchTerm">{{item.name}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>

                </div>
                <div ng-show="home.selectedCategoryType||home.selectedName=='brand'" class="form-row" layout="row-sm-12">
                        <label class="col-sm-3">Products</label>
                        <md-input-container class="col-sm-3">
                            <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
                            <md-select aria-label="products" ng-click="changeType()" ng-model="home.selectedProducts"
                                       md-on-close="clearSearchTerm()"
                                       data-md-container-class="selectdemoSelectHeader"
                                       multiple>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a type.."
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="types">
                                    <md-option ng-value="item.id" ng-repeat="item in home.products |
              filter:searchTerm">{{item.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>

                </div>

                <div class="form-row" layout="row-sm-12">
                    <label class="col-sm-3">Offer</label>
                    <md-input-container class="col-sm-5">
                        <input aria-label="offer" ng-model="home.offer">
                    </md-input-container>

                </div>

                <div class="form-row">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row-sm-12">
                                <md-button multiple="true" ngf-select="uploadImage($files)"
                                           class="md-raised md-primary">select Image
                                </md-button>
                                <div class="row-sm-12 " id="image-container">
                                    <div class=" row col-sm-3" id="stock-image-wrapper"
                                         ng-repeat="(imageIndex,image) in home.images">


                                        <image class="product_image"
                                               ng-src="{{image.url}}"
                                               title="{{image.title}}"></image>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row-col-sm-6 form-row">
                    <md-button class="md-raised md-primary" ng-click="submit()">Submit</md-button>
                    <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>

                </div>
            </div>


        </div>
    </form>
    <pre>
        {{home|json}}
    </pre>
</div>


